@*
	Component of the Ans.Net8.Web library.
	Not intended for editing and runtime compilation!
*@
@if (Current.Network.IsAdmin)
{

	<a id="ans_admin_panel" data-bs-toggle="offcanvas" href="#adminPanel" role="button" aria-controls="adminPanel"><i class="bi-pencil-square"></i></a>
	<div class="offcanvas offcanvas-start" tabindex="-1" id="adminPanel" aria-labelledby="adminPanelLabel">
		<div class="offcanvas-header">
			<h4 class="offcanvas-title" id="adminPanelLabel"><i class="bi-pencil-square"></i> Редактор</h4>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			@{
				string node1 = Current.Node?.Name ?? "_main";
			}
			<p>
				Текущий узел: <code>@(node1)</code>
			</p>
			<p>
				<a class="btn btn-sm btn-primary" target="_blank" href="~/ans/system/mapnodesreset?token=@Current.Options.SystemAccessToken"><i class="bi-arrow-clockwise"></i> узлы</a>
				<a class="btn btn-sm btn-primary" target="_blank" href="~/ans/system/mappagesreset?node=@(node1)&token=@Current.Options.SystemAccessToken"><i class="bi-arrow-clockwise"></i> страницы</a>
			</p>
			<p class="form-check form-switch">
				<input id="sw_ShowEditLinks" class="form-check-input" type="checkbox" role="switch" />
				<label class="form-check-label" for="sw_ShowEditLinks">ссылки редактора</label>
			</p>

			<hr class="mt-7" />
			<p>
				<a target="_blank" href="~/ans">Ans.Net8.Web Help</a>
			</p>
			<p class="small">
				@Ans.Net8.Common.LibInfo.GetName()
				@Ans.Net8.Common.LibInfo.GetVersion()
				(@Ans.Net8.Common.LibInfo.GetDescription())
			</p>
			<p class="small">
				@Ans.Net8.Web.LibInfo.GetName()
				@Ans.Net8.Web.LibInfo.GetVersion()
				(@Ans.Net8.Web.LibInfo.GetDescription())
			</p>
		</div>
	</div>

	<script>

		const
			SW_SEL = document.getElementById('sw_ShowEditLinks'),
			COOKIE_ANS_SEL = 'ans_ShowEditLinks';

		SW_SEL.addEventListener("change", ({ target }) => {
			if (target.checked) {
				ansSetCookie(COOKIE_ANS_SEL, 1);
				console.log(`SetCookie['${COOKIE_ANS_SEL}']`);
			} else {
				ansDeleteCookie(COOKIE_ANS_SEL);
				console.log(`DeleteCookie['${COOKIE_ANS_SEL}']`);
			}
		});

		SW_SEL.checked = (ansGetCookie(COOKIE_ANS_SEL) === '1');

	</script>



	@if (Current.QueryString.Helper.TestHas("debug"))
	{
		<site-container>

			<div class="row row-cols-1 row-cols-md-2">
				<div class="col" id="Site">
					<partial name="/Areas/Ans/Helpers/ViewInfo.cshtml" model='new InfoBuilder(typeof(CurrentContext), Current)' />
				</div>
				<div class="col" id="Site">
					<partial name="/Areas/Ans/Helpers/ViewInfo.cshtml" model='new InfoBuilder(typeof(SiteProfile), Current.Site)' />
				</div>
				<div class="col" id="Node">
					<partial name="/Areas/Ans/Helpers/ViewInfo.cshtml" model='new InfoBuilder(typeof(NodeProfile), Current.Node)' />
				</div>
				<div class="col" id="Page">
					<partial name="/Areas/Ans/Helpers/ViewInfo.cshtml" model='new InfoBuilder(typeof(PageProfile), Current.Page)' />
				</div>
				<div class="col" id="Host">
					<partial name="/Areas/Ans/Helpers/ViewInfo.cshtml" model='new InfoBuilder(typeof(HostData), Current.Host)' />
				</div>
				<div class="col" id="Request">
					<partial name="/Areas/Ans/Helpers/ViewInfo.cshtml" model='new InfoBuilder(typeof(RequestData), Current.Request)' />
				</div>
				<div class="col" id="Maps">
					<partial name="/Areas/Ans/Helpers/ViewInfo.cshtml" model='new InfoBuilder(typeof(MapsData), Current.Maps)' />
				</div>
			</div>

		</site-container>
	}

}
