@*
	Component of the Ans.Net8.Web library.
	Not intended for editing and runtime compilation!!
*@
<h4 class="text-info">Current.Maps.GetNodes()</h4>

@if (Current.Maps.GetNodes() != null)
{
	OutItems(Current.Maps.GetNodes().TopItems);
}
else
{
	<p>Empty.</p>
}



@functions {

	void OutItems(IEnumerable<MapNodesItem> items)
	{
		if (items?.Count() > 0)
		{
			<ul>
				@foreach (var item1 in items)
				{
					<li>
						@{
							OutItem(item1);
							OutItems(item1.Slaves);
						}
					</li>
				}
			</ul>
		}
	}

	void OutItem(MapNodesItem item)
	{
		var css1 = new CssBuilder("small");
		css1.AppendIf(item.IsHidden, "opacity-50 text-decoration-line-through");
		<div class="@css1">
			@item.Id.Make("<code class=\"text-danger\">id:{0}</code>").ToHtml()
			@switch (item.Type)
			{
				case MapNodesItemType.Group:
					<text>
						<b>@GetTitle(item)</b>
						@GetProps(item)
					</text>
					break;
				case MapNodesItemType.InternalPath:
					<text>
						<b style="color:blue;">Link:</b>
						<a href="@(item.Link.Href)">@GetTitle(item)</a>
						@GetProps(item)
					</text>
					break;
				case MapNodesItemType.ExternalLink:
					<text>
						<b style="color:red;">Url:</b>
						<a target="_blank" href="@(item.Link.Href)">@GetTitle(item)</a>
						@GetProps(item)
					</text>
					break;
				default:
					<text>
						<code>@item.Name</code>
						<a href="@(item.Link.Href)">@GetTitle(item)</a>
						@GetProps(item)
					</text>
					break;
			}
		</div>
	}

	HtmlString GetTitle(MapNodesItem item)
	{
		var s1 = item.HasShortTitle
		? $"{item.Title} ({item.ShortTitle})"
		: $"{item.Title}";
		return s1.ToHtml(true);
	}

	HtmlString GetProps(MapNodesItem item)
	{
		var sb1 = new StringBuilder();
		if (item.HasMasters)
			sb1.Append($"&nbsp;↑{item.Masters.Count()}");
		if (item.HasSlaves)
			sb1.Append($"&nbsp;↓{item.Slaves.Count()}");
		return sb1.ToString().ToHtml("<code>{0}</code>");
	}

}
