@*
	Component of the Ans.Net8.Web library.
	Not intended for editing and runtime compilation!!
*@
@model string
@{
	var node1 = string.IsNullOrEmpty(Model)
	? Current.Node.Name
	: Model;
}
<h4 class="text-info">Current.Maps.GetNodes("@(node1)")</h4>

@if (Current.Maps.GetPages(node1) != null)
{
	OutItems(Current.Maps.GetPages(node1).TopItems);
}
else
{
	<p>Empty.</p>
}



@functions {

	void OutItems(IEnumerable<MapPagesItem> items)
	{
		if (items?.Count() > 0)
		{
			<ul>
				@foreach (var item1 in items)
				{
					<li>
						@{
							OutItem(item1);
							OutItems(item1.Slaves);
						}
					</li>
				}
			</ul>
		}
	}

	void OutItem(MapPagesItem item)
	{
		var css1 = new CssBuilder("small");
		css1.AppendIf(item.IsHidden, "opacity-50 text-decoration-line-through");
		css1.AppendIf(item.IsSubActive, "bg-light");
		css1.AppendIf(item.Link.IsActive, "bg-warning");
		<div class="@css1">
			@switch (item.Type)
			{
				case MapPagesItemType.Catalog:
					<text>
						@if (item.UseCatalogStartPage)
						{
							<b style="color:green;">Catalog:</b>
							<a href="@(item.Link.Href)">@GetTitle(item)</a>
						}
						else
						{
							<code>@(item.Path)</code>
							@GetTitle(item)
						}
						@GetProps(item)
					</text>
					break;
				case MapPagesItemType.InternalPath:
					<text>
						<b style="color:blue;">Link:</b>
						<a href="@(item.Link.Href)">@GetTitle(item)</a>
						@GetProps(item)
					</text>
					break;
				case MapPagesItemType.ExternalLink:
					<text>
						<b style="color:red;">Url:</b>
						<a target="_blank" href="@(item.Link.Href)">@GetTitle(item)</a>
						@GetProps(item)
					</text>
					break;
				default:
					<text>
						<a href="@(item.Link.Href)">@GetTitle(item)</a>
						@GetProps(item)
					</text>
					break;
			}
		</div>
	}

	HtmlString GetTitle(MapPagesItem item)
	{
		var s1 = item.HasShortTitle
		? $"{item.Title} ({item.ShortTitle})"
		: $"{item.Title}";
		return s1.ToHtml(true);
	}

	HtmlString GetProps(MapPagesItem item)
	{
		var sb1 = new StringBuilder();
		if (item.HasMasters)
			sb1.Append($"&nbsp;↑{item.Masters.Count()}");
		if (item.HasSlaves)
			sb1.Append($"&nbsp;↓{item.Slaves.Count()}");
		return sb1.ToString().ToHtml("<code>{0}</code>");
	}

}